logs
*.log
pids
*.pid
*.seed
lib-cov
/coverage/*
/reports
!/coverage/last-run-coverage.txt
!/coverage/last-run-backend-code-style.txt
!/coverage/last-run-frontend-code-style.txt
!/coverage/last-run-sass-style.txt
/bin/tests/functional/*.jar
node_modules
bundles
tmp
.tmp
.lock-wscript
/build*
debian/changelog
debian/etaskr-api
debian/files
*debhelper
*debhelper.log
*deb
.DS_Store
*swp
*.orig
*.iml
.idea
/dist
*-compiled.js.map$
*-compiled.js$
npm-debug.log*
.vagrant
Vagrantfile
mocha.json
etaskr_build_vars
apps/podium/vendor/isomorphic/
lang/rv/*
nohup.out
.build-manifest.json
